h1 {
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
}
p {
  font-family: 'Open Sans',sans-serif;
  font-size: 1em;
  line-height: 1.7em;
}
h4 {
  font-size: 0.9em;
}
h2 {
  font-family: 'Open Sans',sans-serif;
  font-size: 1.65em;
  line-height: 1.15em;
  font-weight: 600;
}
span.bad {
  color: #F37852;
}
span.good {
  color: #79BCA1;
}
body {
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  background-color: #1C4554;
  margin: 0;
}
header {
  position: fixed;
  box-shadow: 0 -3vh 4vh;
  background-color: #1C4554;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
}
header table {
  width: 100%;
}
header h1 {
  font-size: 7.5vh;
  margin: 0;
  margin-left: 2vh;
}
main {
  margin: 0;
}
.hamburger {
  background-color: #ffffff;
  border-radius: 2vh;
  width: 7.5vh;
  height: 7.5vh;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.hamburger:hover {
  cursor: pointer;
}
.information {
  max-width: 700px;
  margin: auto;
  padding: 10pt;
}
ul {
  list-style-type: none;
}
ul#top_menu {
  height: 0;
  position: fixed;
  top: 50px;
  right: 0;
  margin-right: 10px;
  text-align: right;
}
ul#top_menu li {
  height: 0px;
  color: transparent;
  transition: 0.5s;
}
div#hero {
  height: 80vh;
  background: #223399;
}
div#firefly_test {
  background: rgba(253, 239, 195, 0.5);
  border-radius: 50%;
  height: 20px;
  width: 20px;
  transition: 0.5s;
  position: fixed;
  z-index: 2;
}
.col_1 {
  width: 25%;
}
.col_3 {
  width: 75%;
}
.conservationStatus {
  font-size: 2em;
  font-weight: 800;
  background-image: url("bigger-picture/images/Near Threatened.svg")
}
.infoSource {
   color: #F3AF52;
  text-align: right;
}
