h1 {
  color: #ffffff;
  font-family: sans-serif;
}
body {
  color: #ffffff;
  font-family: sans-serif;
}
.hamburger {
  background-color: #ffffff;
  border-radius: 5pt;
  width: 30px;
  height: 30px;
}
li {
  display: inline-block;
}
ul {
  list-style-type: none;
}
