h1 {
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
  margin: 0px;
}
body {
  color: #ffffff;
  font-family: 'Open Sans',sans-serif;
}
.hamburger {
  background-color: #ffffff;
  border-radius: 5pt;
  width: 30px;
  height: 30px;
  display: inline-block;
  transform: rotate(0deg);
  transition: transform 0.5s;
}
.hamburger:hover {
  cursor: pointer;
}
ul {
  list-style-type: none;
}
ul#top_menu {
  display: none;
  position: fixed;
  top: 50px;
  right: 0;
  margin-right: 10px;
  text-align: right;
}
ul#top_menu li {
  height: 0px;
  color: transparent;
  transition: 0.5s;
}
